@page "/review"
@inherits BaseComponent;
<h4>Review and confirm</h4>

<div class="review-container">
    <h5>Who this appt</h5>
    <p>Booking for : @_patientInformationSeries.BookingFor</p>
    <p>Booking for : @_patientInformationSeries.Name</p>
</div>

<div class="review-container">
    <h5>visit reason data</h5>
    <p>Visit reason Name : @_visitReasonSeries.VisitReasonForm.VisitReasonName</p>
    <p>PatientRelationship : @_visitReasonSeries.VisitReasonForm.PatientRelationship</p>
    <p>VisitMethod : @_visitReasonSeries.VisitReasonForm.VisitMethod</p>
    <p>ReasonComment : @_visitReasonSeries.VisitReasonForm.ReasonComment</p>
    @* <button @onclick="() => GoToPage('visit-reason')">Edit</button> *@
    <button @onclick="GoToPage">Edit</button>
</div>

<div class="review-container">
    <h5>appt details</h5>
    <p>Selected Time : @_visitReasonSeries.SelectedTime</p>
</div>

<div class="review-container">
    @if (_InsuranceSeries.InsuranceChoice == "Yes")
        {
            <h5>Insurance</h5>
            <p>@_InsuranceSeries.InsuranceDetailsForm.MemberId</p>
            <p>@_InsuranceSeries.InsuranceDetailsForm.GroupNumber</p>
            <p>@_InsuranceSeries.InsuranceDetailsForm.PoBoxZipCode</p>
            <button @onclick="GoToInsurancePage">Edit</button>
        }
    @if (_InsuranceSeries.InsuranceChoice == "No")
        {
            <h5>GFE</h5>
            <p>@_InsuranceSeries.GFEEmail</p>
            <button @onclick="GoToGFEPage">Edit</button>
        }
</div>

<div class="review-container">
    <h5>Telehealth</h5>
    <p>Selected Time : @_visitReasonSeries.TelehealthCommunictaionEmail</p>
</div>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms. I have access to the cascading values I require.</p>

<p>editing visit reason : @_visitReasonSeries.IsEditing</p>
@code
{
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(_visitReasonSeries.ProviderID);
        Console.WriteLine(_wipVisitReasonSeries.ProviderID);
    }
    private void GoToPage()
    {
        _visitReasonSeries.IsEditing = true;
        _navigationManager.NavigateTo("/visit-reason");
    }

    private void GoToInsurancePage()
    {
        _navigationManager.NavigateTo("/insurance-details");
    }

    private void GoToGFEPage()
    {
        _navigationManager.NavigateTo("/gfe");
    }
}