@page "/review"
@inherits BaseComponent;
<h4>Review and confirm</h4>

<div class="review-container">
    <h5>Who this appt</h5>
    <p>Booking for : @_patientInformationSeries.BookingFor</p>
    <p>Booking for : @_patientInformationSeries2.Name</p>
</div>

<div class="review-container">
    <h5>Date of birth</h5>
    <p>Booking for : @_patientInformationSeries.dateOfBirth</p>
</div>

<div class="review-container">
    <h5>visit reason data</h5>
    <p>Visit reason Name : @_appointmentSeries.VisitReasonForm.VisitReasonName</p>
    <p>PatientRelationship : @_appointmentSeries.VisitReasonForm.PatientRelationship</p>
    <p>VisitMethod : @_appointmentSeries.VisitReasonForm.VisitMethod</p>
    <p>ReasonComment : @_appointmentSeries.VisitReasonForm.ReasonComment</p>
    @* <button @onclick="() => GoToPage('visit-reason')">Edit</button> *@
    <button @onclick="GoToPage">Edit</button>
</div>

<div class="review-container">
    <h5>appt details</h5>
    <p>Selected Time : @_appointmentSeries.SelectedTime</p>
    <button @onclick="GoToPage">Edit</button>
</div>

<div class="review-container">
    <h5>work related</h5>
    <p>Selected Time : @_appointmentSeries.WorkRelated</p>
    <button @onclick="GoToPage">Edit</button>
</div>

<div class="review-container">
    @if (_insuranceSeries.InsuranceChoice == "Yes")
        {
            <h5>Insurance</h5>
            <p>@_insuranceSeries?.InsuranceDetailsForm?.GroupNumber</p>
            <p>@_insuranceSeries?.InsuranceDetailsForm?.MemberId</p>
            <p>@_insuranceSeries?.InsuranceDetailsForm?.PoBoxZipCode</p>
            <button @onclick="GoToInsurancePage">Edit</button>
        }
    @if (_insuranceSeries.InsuranceChoice == "No")
        {
            <h5>GFE</h5>
            <p>@_insuranceSeries.GFEEmail</p>
            <button @onclick="GoToGFEPage">Edit</button>
        }
</div>

<div class="review-container">
    <h5>Telehealth</h5>
    <p>Selected Time : @_appointmentSeries.TelehealthCommunictaionEmail</p>
    <button>Edit</button>
</div>
<br>
<br>
<p>​I am a page component accessible through the NavigationManager and routing mechanisms.</p>
<p>editing visit reason : @_appointmentSeries.IsEditing</p>
@code
{
    protected override async Task OnInitializedAsync()
    {
        //Console.WriteLine("insurance - {0}", _insuranceSeries.InsuranceChoice);
        //Console.WriteLine(_appointmentSeries.ProviderID);
        //Console.WriteLine(_wipAppointmentSeries.ProviderID);
    }
    private void GoToPage()
    {
        _appointmentSeries.IsEditing = true;
        _navigationManager.NavigateTo("/controller/edit/visitreason");
    }

    private void GoToInsurancePage()
    {
        _navigationManager.NavigateTo("/insurance-details");
    }

    private void GoToGFEPage()
    {
        _navigationManager.NavigateTo("/gfe");
    }
}